body {
    min-width: 280px;
    font-family:Arial, Helvetica, sans-serif;
}


#main-doc {
    position: relative;
    margin-left: 290px;
    margin-top: 20px;
}

header {
    display: inline;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 2.2rem;
    margin-left: 7px;
    padding-left: 20px;
    display: block;
    white-space: nowrap;
    color: #119ff1f8
}

h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-right: 5px;
    margin-left: 5px;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#navbar a:hover{
    color: #2745ee;
}

#navbar ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

#navbar li {
    color: #000;
    list-style: none;
    postion: relative;
    width: 100%;
}

header {
    color: black;
    margin: 15px;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    display: block;
}

code {
    display: inline;
    text-align: left;
    white-space: pre-line;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.25;
    background-color: #3ff2f8;
    color: #000000;
    padding: 3px;
    border-radius: 2px;
    overflow: hidden;
}

li {
    font-weight:bold ;
}

p {
    margin-left: 15px;
    font-family: 'Times New Roman', Times, serif;
}

div {
    background-color: #363636;
    font-weight: bold;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    overflow: hidden;
}
   



@media only screen and (max-width: 600px) {
    /*For Mobile Phones */
    #main-doc {
        margin left: 10px;
    }
    #navbar {
        height: 100%;
        position: static;
        width: 50%;
        min-width: 50%;
    }
}
